#levy {
    background-color: blue;
    height: 100vh; 
    width: 50%; 
    float: left; 
}

#pravy {
    background-color: green; 
    height: 100vh; 
    width: 50%; 
    float: left; 
}

#pravy1 {
    background-color: lightcoral; 
    height: 50%; 
    width: 100%; 
}

#pravy2 {
    background-color: red; 
    height: 50%; 
    width: 100%; 
}
#stopka {
    background-color: grey; 
    height: 10vh; 
    width: 100%; 
    clear: both; 
}
