#levy {
    background-color: lightblue; /* Kolor dla sekcji "levy" */
    height: 100vh; /* Wysokość 100% wysokości ekranu */
    width: 50%; /* Szerokość 50% ekranu */
    float: left; /* Wyrównanie do lewej */
}

#pravy {
    background-color: lightgreen; /* Kolor dla sekcji "pravy" */
    height: 100vh; /* Wysokość 100% wysokości ekranu */
    width: 50%; /* Szerokość 50% ekranu */
    float: left; /* Wyrównanie do lewej */
}

#pravy1 {
    background-color: lightcoral; /* Kolor dla sekcji "pravy1" */
    height: 50%; /* Wysokość 50% sekcji "pravy" */
    width: 100%; /* Szerokość 100% sekcji "pravy" */
}

#pravy2 {
    background-color: lightsalmon; /* Kolor dla sekcji "pravy2" */
    height: 50%; /* Wysokość 50% sekcji "pravy" */
    width: 100%; /* Szerokość 100% sekcji "pravy" */
}
#stopka { background-color: rgb(30, 17, 219);
    width:200 ;
     height: 100px; }
